body {
  font-family: "ABeeZee", sans-serif;
}
.app-wrapper {
  margin: 30px auto;
  max-width: 700px;
}
.app-body {
  padding: 20px;
  border: 1px solid #3737ee;
  border-radius: 40px;

  background: #fff;
}

::placeholder {
  font-family: "Signika", sans-serif;
  font-size: 17px;
  opacity: 0.9;
  color: #bdbdbd;
}
:placeholder-shown {
  background: #fff;
  border-radius: 30px;

  border: 1px solid #f0ecfc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

  padding: 7px 40px;
  margin: 20px 10px;
  width: 450px;
}

#submit {
  color: #3737ee;
  font-weight: 900px;
  font-family: "Signika", sans-serif;
  font-size: 17px;
  padding: 7px 15px;
  margin-top: 20px;
  background: #fff;
  border-radius: 30px;

  border: 1px solid #f0ecfc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
#submit:hover {
  background: #3737ee;
  color: #fff;
}
#current {
  color: #1ce0cd;
  font-weight: 900px;
  font-family: "Signika", sans-serif;
  font-size: 17px;
  padding: 7px 15px;

  background: #fff;
  border-radius: 30px;
  float: right;
  margin-right: 55px;
  margin-top: 5px;
  border: 1px solid #f0ecfc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
#current:hover {
  background: #1ce0cd;
  color: #fff;
}
p {
  font-size: 15px;
  color: #000;
  opacity: 0.6;
}
.current-city {
  font-size: 40px;
  font-family: "Signika", sans-serif;
  color: #3737ee;
}
.temp-number {
  font-size: 40px;
  font-family: "Signika", sans-serif;
  color: #3737ee;
}
a {
  font-size: 16px;
  text-decoration: none;
}

.icon-condition {
  font-size: 19px;
  color: #1ce0cd;

  padding-top: 0px;
  margin-top: 0;
}
.conditions {
  font-size: 15px;
  color: #000;
  opacity: 0.6;
  position: relative;
  top: 15px;
  left: 40px;
}

span.temp-units .active {
  color: #000;
  cursor: default;
}
span.temp-units .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  font-weight: bold;

  color: #1ce0cd;
}

.weather-forecast-temperature-min {
  opacity: 0.4;
}

.weather-forecast-temperatures {
  font-size: 13px;
  color: #000;
}
